.todo-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    justify-content: center;
    gap: 22px;
    padding: 10px;
  
    &__item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 30px;
      border-radius: 20px;
      background-color: #fefefe;
      transition: all 200ms;
      &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px 10px rgba(0,0,0,0.05);
      }

      &-add {
        min-height: 10rem;
        background-color: #77b255;
        color: #eee;
        font-size: 32px;
        font-weight: bold;
        cursor: pointer;


        &:active {
          transform: scale(0.98);
        }
      }
    }
    @media (min-width: 1600px) {
      grid-template-columns: repeat(3, 500px);
    }
  }

  .add-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}