.field {
  &__label {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 700;
  }

  &__input {
    width: 100%;
    height: max-content;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;

    &:hover {
      border-color: #000;
    }

    &:focus {
      border-color: #485fc7;
      box-shadow: 0 0 0 .125em rgba(72,95,199,.25);
    }
  }

  &__error {
    color: red;
    border-color: red;
  }

  &__help{
    display: block;
    font-size: .75rem;
    margin: .25rem;
    color: red
  }
}